.header {
  display: flex;
  justify-content: space-between;
  .wrapper-back-button {
    padding: 19px;
    font-weight: 600;
    a {
      color: #02a8f3;
      text-decoration: none;
    }
  }
  .wrapper-header {
    text-align: right;
    color: #767676;
    padding: 10px;
    @media screen and (max-width: 768px){
      float: none;
      font-size: 14px;
    }
    @media screen and (max-width: 568px){
      font-size: 12px;
    }
    select {
      background-color: inherit;
      border: none;
      border-radius: 4px;
      display: inline-block;
      font: inherit;
      line-height: 1.5em;
      padding: 0.5em 3.5em 0.5em 1em;
      margin: 0;      
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      color: #767676;
      cursor: pointer;
      position: relative;
      z-index: 10;
  
    }
    
    
    select.language {
      background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
      background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
      background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
      background-repeat: no-repeat;
    }
    
    select.language:focus {
      background-image:
        linear-gradient(45deg, green 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, green 50%),
        linear-gradient(to right, #ccc, #ccc);
      background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
      background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
      background-repeat: no-repeat;
      border-color: green;
      outline: 0;
    }
    
    
    select:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
  }
  
}
