@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,600,700');
@import 'variables.scss';


html, body {
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-family: 'Nunito Sans', sans-serif !important;
  color: #343434;
  font-size: 18px !important;
  min-height: 100vh;
  overflow: hidden;
  
  h1 {
    font-size: 2.83em;
    line-height: 1.2;
    color: $heading;
    font-weight: 200;
  }

  h2 {
    font-size: 2.11em;
    line-height: 1.21;
    color: $heading;
    font-weight: 200;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.5;
    color: $heading;
    font-weight: 200;
  }

  h4 {
    font-size: 1.17em;
    line-height: 1.52;
    color: $heading;
    font-weight: 200;
  }

  h5 {
    font-size: 0.89em;
    line-height: 1.63;
    color: $heading;
    font-weight: 200;
  }

  p{
    font-size: 14px;
    font-weight: 200;
  }

  span{
    font-weight: 200;
  }
  
  @media screen and (max-width: 1279){
    font-size: 14px;
  }

  @media screen and (max-width: 768px){
    font-size: 13px;
  }

  p{
    color: $text-gray;
  }
  /*Responsive */
  &.col-1 {
    width: 8.33%;
  }

  &.col-2 {
    width: 16.66%;
  }

  &.col-3 {
    width: 25%;
  }

  &.col-4 {
    width: 33.33%;
  }

  &.col-5 {
    width: 41.66%;
  }

  &.col-6 {
    width: 50%;
  }

  &.col-7 {
    width: 58.33%;
  }

  &.col-8 {
    width: 66.66%;
  }

  &.col-9 {
    width: 75%;
  }

  &.col-10 {
    width: 83.33%;
  }

  &.col-11 {
    width: 91.66%;
  }

  &.col-12 {
    width: 100%;
  }

  &.row {
    padding-left: 5px;
    padding-right: 15px;
  }

  &.row::after {
    content: "";
    clear: both;
    display: table;
  }

  button:disabled,
  button[disabled]{
    background: #66b1ff;
    border-color: #66b1ff;
    color: #fff;
    cursor: not-allowed;
  }
}

