@import 'variables.scss';

.container {
  width: 100%;
  .container-login {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -70px;
    .wrapper-login {
      width: 30%;
      box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
      padding: 60px;
      text-align: center;
      border: 1px solid $gray;
      background-color: $white;

      @media screen and (max-width: 768px){
        width: 80%;
        padding: 20px;
      }
      .wrapper-image {
        text-align: center;
        margin: 40px 0 20px 0;
        img {
          height: auto;
          width: 50%;
        }
      }
      .description-login {
        font-size: 14px;
        font-weight: 600;
        line-height: 30px;
        color: #767676;
        margin: 20px 0 40px 0;
        a {
          color: #02a8f3;
          text-decoration: none;
        }
      }
      .wrapper-action-login {
        margin: 20px 0;
        .wrapper-input {
          margin-bottom: 15px;
        }
      }
    }
  }
}