$brand: #08f;
$black: #343434;
$black-carousel: #3f3f3f;
$black-tooltip: #001437;
$text-gray: #575e64;
$text-brown: #555b65;
$blue: #1B77E2;
$blue-hover: #1763bb;
$yellow: #ffae1d;
$yellow-hover: #f09a00;
$lightblue: #39b0e4;
$darkblue: #002462;
$darkblue-hover: #00153a;
$darkblue-paging: #1c71d3;
$darkblue-border: #0f3578;
$black-paging: #333333;
$blue-toggle: #2eaae1;
$blue-btn: #28a8e0;
$yellow-2: #f5a623;
$gray-1: #818181;
$gray-2: #e3e7f2;
$gray-label: #81848e;
$gray-navbar: #e9ecf5;
$gray-wizard: #eaecf3;
$gray-wizard-2: #cacaca;
$gray-accordion: #d8d8d8;
$gray-border: #eaeef5;
$gray-disabled-text: #b6b5be;
$gray-disabled-border: #dbe0e4;
$gray-disabled-input: #f4f4f4;
$gray-card-button-background: #fafafc;
$gray-card-button-border: #ebebf3;
$gray-card-button-text: #39355a;
$gray-card-button-footer: #faf9fd;
$gray-list-card-border: #dee7f2;
$gray-list-basic-list-card: #e5ebf2;
$gray-navbar-border: #dddfe8;
$gray-title-card: #7e8899;
$gray-bg: #f5f6fa;
$gray-radio-button-border: #d7dce5;
$gray-connector: #c2c6cf;
$gray-slider: #ced4da;
$gray-scrollbar: #f4f6fa;
$gray-scrollbar-handle: #bfc6d1;
$gray-footer: #8a8a8a;
$gray-border-card: #b2bac2;
$gray-bold: #0a0a0a;
$gray-dashed: #e1e1e1;
$gray-border-icon: #e3e3e3;
$green: #31a400;
$green-2: #38c93e;
$wolfgray: #585f6a;
$wolfgray-2: #A1A0AA;
$gray-toggle: #dde0ed;
$gray-progressbar: #edf1f6;
$red: #FC4848;
$red-2: #fa4f64;
$red-3: #e34343;
$red-4: #ffd3d3;
$red-5: #f7bebe;
$red-strikethrough: #f36666;
$red-banner: #FF5F5F;
$red-banner-dark: #870000;
$gray-disabled: #a1a4a7;
$gray-disabled-2: #c9d2dd;
$white: #fff;
$heading: #363a41;
$lightgreen: #72ee77;
$green-timeline: #72c724;
$green-2: #63a740;
$green-3: #86c955;
$green-4: #b1e09a;
$green-5: #d5f8c3;
$orange: #faa33d;
$yellow-alert: #c3a12d;
$yellow-adira: #fed206;
$yellow-adira-shadow: #efab18;
$gray: #ebeef5;