@import '../../styles/variables.scss';
main {
  background-image: url('https://taskdev.mile.app/d09f7f2de7d88fb5f1575273b8a26426.png'),linear-gradient(180deg,rgba(2,168,243,.06),rgba(2,168,243,0));
    background-repeat: no-repeat;
    background-position: 100%;
    @media screen and (max-width: 768px){
      background-image: linear-gradient(180deg,rgba(2,168,243,.06),rgba(2,168,243,0));
    }
}
