@import '../../styles/variables.scss';

.form-group{
    &.custom{
      label{
        background: #FFF;
        position: absolute;
        color: #d8d8d8;
        margin: 12px;
        margin-left: 16px;
        z-index: 0;
        transition: 0.3s;
        cursor: text;
        font-size: 16px;

        @media screen and (max-width: 768px){
          font-size: 14px;
        }

        @media screen and (max-width: 568px){
          font-size: 12px;
        }

        &.active{
          margin: -0.5rem !important;
          margin-left: 0.5rem !important;
          color: $brand;
          transition: 0.3s;
          padding-left: 0.25rem;
          padding-right: 0.25rem;
          font-size: 12px;
          z-index: 2;
          &.focused{
            color: $brand;
          }
        }
      }
    
      .form-control{
        background: none;
        position: relative;
        z-index: 1;
        padding-top: 12px;
        padding-bottom: 12px;
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;
        border-radius: 4px;
        font-size: 16px;
        border: 1px solid #dcdfe6;
        outline: none;
        width: 70%;
        padding-left: 15px;
        color: #606266;

        &.active {
          border: 1px solid #80bdff;
        }
            
        &:focus{
          border-color: 1px solid $brand;
          box-shadow: 0 0 0 0 transparent;
          background: none;
        }
    
        &:not([size]):not([multiple]){
          height: auto;
        }

        &:disabled{
          background: rgba(100, 100, 100, 0.1);
        }
      }

      &.error{
        .form-control{
          border: 1px solid $red;
        }
        input{
          border: 1px solid $red !important;
        }
        label{
          &.active{
            color: $red;
          }
        }
      }

      .error-message{
        margin: 10px 0px;
        color: $red;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }