.footer {
  position: fixed;
  bottom: 40px;
  width: 100%;
  @media screen and (max-width: 768px){
    bottom: 0;
  }
  p {
    text-align: center;
    font-size: 14px;
    color: #c6c6c6;
    font-weight: 700;
    @media screen and (max-width: 768px){
      font-size: 12px;
    }
  }
}