@import '../../styles/variables.scss';

.a-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  padding: 13px 20px;
  font-size: 14px;
  border-radius: 4px;
  height: auto;
  &.primary {
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
  }

  &.full-content {
    width: 76%;
  }
  &:hover {
    background: #66b1ff;
    border-color: #66b1ff;
    color: #fff;
  }
}